* {
  padding: 0;
  margin: 0;
  border-spacing: 0;
  text-decoration: none;
  list-style: none;
}

body {
  overflow-x: hidden;
}


.x-mega-menu {
  background: #efefef;
  display: grid;
  grid-auto-columns: minmax(0, 1fr);
  grid-auto-flow: column;
  list-style: none;
  box-shadow: 0 1px 4px #aaaaaa;


  > li {
    transition: 300ms;
    font-size: 12pt;
    font-weight: 100;
    padding: 1em;
    text-align: center;
    color: $main-color;
    cursor: pointer;
    //border-right: 1px #fff solid;
    position: relative;
    height: 1em;
    grid-column: span 2;

    &.x-has-sub-menu:after {

      content: '⌄';
      position: relative;
      top: -3px;
    }

    &.x-has-image {
      padding: 1px;
      height: 46px;


      img {
        max-height: 40px;
        max-width: 100vh;
        display: block;
        margin: 2px auto;
      }
    }

    &.x-small {
      grid-column: span 1;
    }

    &:before {
      height: 2px;
      content: ' ';
      position: absolute;
      right: 0;
      width: 0;
      bottom: 0;
      transition: 400ms;
      transition-delay: 100ms;
      opacity: .5;
      background: linear-gradient(90deg, $main-color 0%, lighten($main-color, 20) 100%);
    }


    &:hover {
      background: #ffffff;

      &:before {
        width: 100%;
        opacity: 1;
      }

      ul {
      }

    }

    ul {
      display: none;
    }

    a {
      text-decoration: none;
      color: $main-color;
    }
  }
}

.x-sub-menu {
  background: #ffffff;
  width: 100%;
  border: 1px solid silver;
  transform: scaleY(0) translateY(-50%);
  transition-timing-function: ease-out;
  transition: 700ms;
  opacity: 0;
  position: absolute;
  z-index: 999;

  h3 {
    border-bottom: 1px solid #eee;
    margin-bottom: 12px;
    color: #777;
    transition: 333ms;

    &:hover {
      color: #111111;
    }
  }

  li {
    padding: 5.5px;
    a {
      padding: 1.2em;
      color: gray;
      transition: 333ms;

      &:hover {
        color: dimgray;
      }
    }
  }

  &.x-active {
    transform: scaleY(1) translateY(0);
    opacity: 0.9;
  }

  > ul {
    display: grid;
    grid-auto-columns: minmax(0, 1fr);
    grid-auto-flow: column;

    > li {
      border-right: 1px solid silver;
      padding: 1em;
      color: $main-color;


      &.x-highlight {
        background: $main-color;
        color: $invert-text-color;
      }
    }

    img {
      width: 80%;
      display: block;
      margin: 1em auto;
    }
  }
}
