// default theme
$main-color: darkred;
$invert-text-color: white;
$second-color: black;
$sub-menu-color: #222222;
$main-menu-bg: #eeeeee;
$is-dark: 'false';



//// blue
//$main-color: #0067c2;
//$invert-text-color: white;
//$second-color: black;
//$sub-menu-color: #222222;
//$main-menu-bg: #eeeeee;
//$is-dark: 'false';
//
//
//
//// gray
//$main-color: #888888;
//$invert-text-color: white;
//$second-color: black;
//$sub-menu-color: #222222;
//$main-menu-bg: #ffffff;
//$is-dark: 'false';
//
//
//
//// dark
//$main-color: #eeeeee;
//$invert-text-color: gray;
//$second-color: black;
//$sub-menu-color: #ffffff;
//$main-menu-bg: #21252b;
//$is-dark: 'true';


